@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@plugin "@tailwindcss/typography";

@plugin "tailwindcss-animate";

@utility container {
  @apply max-w-[1535px] px-4 lg:px-8 mx-auto;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;
  --color-background: #fff;
  --color-foreground: #000;
  --color-borders: #eeeef1;
  --color-input: #bbbdc9;

  --font-display: 'Inter', 'sans-serif';
  --font-sans: 'Inter', 'sans-serif';

  --default-transition-duration: 250ms;
}

[data-theme="light"] {
  --color-background: #fff;
  --color-foreground: #000;
  --color-borders: #eeeef1;
}

[data-theme="dark"] {
  --color-background: #000;
  --color-foreground: #fff;
  --color-borders: #eeeef1;
}

[data-theme="muted"] {
  --color-background: var(--color-gray-100);
  --color-foreground: #000;
  --color-borders: #bbbdc9;
}

body {
  @apply text-base tracking-wide;
}

.btn {
  @apply px-6 py-3.5 bg-foreground text-background text-base duration-300 ease-in-out hover:bg-foreground/80 rounded-br-xl rounded-tl-xl;
  &.secondary {
    @apply bg-gray-300 text-black ;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold leading-tight;
}

h1, h2 {
  @apply text-3xl lg:text-6xl;
}

h3 {
  @apply text-2xl lg:text-3xl;
}

h4 {
  @apply text-xl lg:text-2xl;
}

.eyebrow {
  @apply uppercase;
}

.richtext {
  h2, h3, h4, h5, h6 {
    @apply mt-6;
  }

  p {
    @apply my-4;
  }
  h2 {
    @apply text-3xl lg:text-4xl;
  }
  .accordion {
    & h3 {
      @apply my-0;
    }
  }
  .block-features {
    h2, h3, h4, h5, h6 {
      @apply mb-6 mt-0;
    }
    p {
      @apply mb-0;
    }
  }
}

.accordion {
  & summary {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1em;

    &::after {
      content: '+';
      @apply text-gray-500 inline-block text-3xl;
    }
  }

  & ::-webkit-details-marker {
    display: none;
  }

  &[open] summary::after {
    content: '-';
  }
}

blockquote {
  @apply border-l-2 border-gray-200 pl-4 my-8 italic text-lg;
}

.stretched-link {
  & :after {
    @apply absolute inset-0 z-10 content-none;
  }
}